<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="exam.day03.view.selectview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 기준이 exam.day03.view.selectview -->
        <!-- SelectView_ExamActivity액티비티를 등록
            intent-filter를 이용해서 action을 정의
            (인텐트에 의해 호출이 되었을 때 설치되어 있는 앱 중에서
            조건을 걸어서 거른다. - action, category, data 중 하나)
                action: 어떤 일을 하는지
                category: 어느 범주에 속하는지
        -->
        <activity android:name=".exam.SelectView_ExamActivity">
            <intent-filter>
                <!-- 내가 정의한 action -->
                <action android:name="com.exam.selectview"/>
                <!-- 안드로이드 정의 category: 일반적인 컴포넌트 -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.ListViewTestActivity">
            <intent-filter>
                <!-- 메인으로 작동하는 action -->
                <action android:name="android.intent.action.MAIN" />
                <!-- 런처에 의해서 실행되는 범위(디바이스 아이콘 생성) -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>